section {
    width: 750px;
    margin: 0 auto;
}


img{
    max-width: 100%;
}

.links, .links a{
    text-align: right;
    font-style: italic;
    color: rgba(255, 255, 255, 0.623);
}

img {
    display: block;
    margin: auto;
  }