section{
    display: grid;
    grid-template-columns: repeat(3, [col] 320px ) ;
    grid-template-rows: repeat(3, [row] 280px ) ;
    grid-gap: 20px;
} 

.box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #e78b63;
    margin: 0px;
}

.box figcaption {
    position: absolute;
    top: 85%;
    right: 10px;
    font-size: 1.5em;
    font-weight: 700;
    opacity: 0;
    transition: opacity .2s ease;
}

.box img {
    transition: .2s ease;
}

.box:hover img {
    filter: blur(10px);
}

.box:hover figcaption {
    opacity: 1;
}

.a {
    grid-column: col / span 2;
    grid-row: row ;
}

.b {
    grid-column: col 3;
    grid-row: row / span 2 ;
}
.c {
    grid-column: col ;
    grid-row: row 2 / span 2;
}
.d {
    grid-column: col 2 ;
    grid-row: row 2 ;
}

.e {
    grid-column: col 2 / span 2;
    grid-row: row 3;
}

.a img{
    width:100%;
}

.b img{
    height:100%;
    object-position: -280px;
}

.c img{
    height:100%;
    object-position: -190px;
}

.d img{
    height:100%;
    object-position: -20px;
}

.e img{
    width:100%;
    object-position: 0px -140px;
}