body{
    margin:0;
}
html {
    background-color: rgb(66, 143, 172);
    color: rgba(0, 0, 0, 0.8);
}

.header-container,
.footer-container{
    background: #e78b63;

    padding:15px;
    height:50px;
    background-size:100%;
    text-align: center;
    vertical-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.main-container{
    width: 720px; /* 1140px - 10% for margins */
    margin: 0 auto;
}

img{
    width: 720px;
}

.footer-container{
    position: fixed;
    bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}


h1{
    font-variant: small-caps;
}

.citation{
    font-style: italic;
    color: rgba(83, 83, 83, 0.8);
}